html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Here the project starts */

* {
    box-sizing: border-box;
}

body {
	background-color: #2b88f0;
}

.randomSection {
	height: 100vh; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	color: white;
}
article{
	max-width: 360px;
	width: 100%;
	padding: 10px;
	text-align: center;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	/*margin-bottom: 15px;*/
	margin: 10px 0 20px;
}

#textarea {
	width: 100%; 
	height: 100px;
}
#list{
	margin: 20px 0;
}
.list-item{
    list-style-type: none;
	background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}
.background-blue{
	background-color: #273c75;
}

#resetButton{
	padding: 10px 30px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color:#f0932b ;
	border: none;
	border-radius: 6px;
	transition: all .1s linear;
	cursor: pointer;
}

#resetButton:active{
	transform: scale(0.95);
}